# Virtual environment
.venv/
venv/
env/

# Large model files
models/plant_disease_model.keras

# Large dataset
data/plant_disease/PlantVillage/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
